*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    font-family:'Segoe UI', sans-serif;
    background-color :#f8f8f8; 
    padding:1.5rem;
    color:#333;
    
}

form{
    max-width:850px;
    padding:2rem;
    margin:auto;
    background-color: #e3e3e3;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);

}

h1{
    margin-bottom: 2rem;
    text-align:center;
}

fieldset{
    margin-bottom:1.8rem;
    padding:1rem;
    border-radius:8px;
    border:1px solid #ccc;
}

legend{
    font-weight: bold;
    font-size:1.2rem;
}

label{
/* Indique que l’élément doit se comporter comme un bloc, c’est-à-dire :
Prend toute la largeur disponible.
Passe à la ligne automatiquement. */
    display: block;
    font-weight: 500;
    margin-top:1rem;

}

input,select,textarea{
    padding:0.6rem;
    margin-top:0.5rem;
    width:100%;
    background-color:#fff;
    font-size:1rem;
    border:1px solid #ccc;
    border-radius:4px;
}
/* :focus Supprime le contour (généralement bleu) qui apparaît automatiquement lorsqu’un élément est sélectionné (focus). */
input:focus,textarea:focus,select:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

input[type ="checkbox"]{
    width:auto;
    margin-right:0.5rem;
}

button{
    padding:1rem;
    font-size:1rem;
    width:100%;
    background-color:#007bff;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
    /* transition:background 0.3 ease; */

}

button:hover{
    background-color:#0056b3;
}

button[type = "submit"]{
    background-color:#0077cc;
    color:#fff;
    padding:0.8rem 1.5rem;
    font-size:1rem;
    




}


@media (max-width:600px){
    
    fieldset{
        padding: 1rem;
    }

    form{
        padding:1rem;
    }
}



